In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Coihaique,-45.5752,-72.0662,44.35,56,0,4.29,CL,2021-10-30 23:57:35
1,1,Bluff,-46.6000,168.3333,49.80,86,96,29.68,NZ,2021-10-30 23:57:35
2,2,Vaini,-21.2000,-175.2000,80.76,78,40,10.36,TO,2021-10-30 23:57:36
3,3,Caravelas,-17.7125,-39.2481,72.95,89,97,6.73,BR,2021-10-30 23:57:36
4,4,Cape Town,-33.9258,18.4232,62.10,86,0,4.61,ZA,2021-10-30 23:55:23

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap for cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap for windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Vaini,-21.2000,-175.2000,80.76,78,40,10.36,TO,2021-10-30 23:57:36
10,10,Vanimo,-2.6741,141.3028,84.85,71,97,4.45,PG,2021-10-30 23:57:38
17,17,Kalabo,-14.9700,22.6814,75.88,51,76,4.74,ZM,2021-10-30 23:57:40
21,21,Rikitea,-23.1203,-134.9692,75.09,87,86,21.25,PF,2021-10-30 23:57:41
29,29,Sorong,-0.8833,131.2500,81.63,77,44,4.34,ID,2021-10-30 23:57:43
31,31,Akyab,20.1500,92.9000,76.78,85,50,3.91,MM,2021-10-30 23:57:44
37,37,Hilo,19.7297,-155.0900,81.25,84,1,5.01,US,2021-10-30 23:53:25
47,47,Tamandare,-8.7597,-35.1047,76.95,74,3,9.82,BR,2021-10-30 23:57:49
48,48,Salalah,17.0151,54.0924,77.43,69,3,3.02,OM,2021-10-30 23:57:49
50,50,Kapaa,22.0752,-159.3190,77.11,59,19,1.99,US,2021-10-30 23:57:50

In [23]:
preferred_cities_df.count()

City_ID       146
City          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
Country       146
Date          146
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
2       Vaini      TO     80.76 -21.2000 -175.2000
10     Vanimo      PG     84.85  -2.6741  141.3028
17     Kalabo      ZM     75.88 -14.9700   22.6814
21    Rikitea      PF     75.09 -23.1203 -134.9692
29     Sorong      ID     81.63  -0.8833  131.2500
31      Akyab      MM     76.78  20.1500   92.9000
37       Hilo      US     81.25  19.7297 -155.0900
47  Tamandare      BR     76.95  -8.7597  -35.1047
48    Salalah      OM     77.43  17.0151   54.0924
50      Kapaa      US     77.11  22.0752 -159.3190

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
10,Vanimo,PG,84.85,-2.6741,141.3028,Vahmoneh Lodge Vanimo
17,Kalabo,ZM,75.88,-14.9700,22.6814,Sikakubete Guest House Kalabo Town Council
21,Rikitea,PF,75.09,-23.1203,-134.9692,People ThankYou
29,Sorong,ID,81.63,-0.8833,131.2500,waigo splash hotel
31,Akyab,MM,76.78,20.1500,92.9000,Hotel Memory
37,Hilo,US,81.25,19.7297,-155.0900,Hilo Hawaiian Hotel
47,Tamandare,BR,76.95,-8.7597,-35.1047,Pousada 100 Passos
48,Salalah,OM,77.43,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
50,Kapaa,US,77.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [42]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))